* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gruppo', 'cursive';
    color: black;
    font-size: large;
    background: rgb(228,227,226);
background: linear-gradient(75deg, rgba(228,227,226,1) 0%, rgba(198,172,242,1) 50%, rgba(122,122,119,1) 100%);
    font-weight: 600;
    outline: none
}

.body {
    height: 100%;
    width: 100%;
}
.general {
    width: 300px;
    height: 670px;
    border: double;
    padding: 15px;
    margin: 150px auto 0 auto;
    background: rgb(241, 241, 241);
    background: linear-gradient(90deg, rgba(241, 241, 241, 1) 0%, rgba(172, 172, 172, 1) 100%);
}

.numbers-div {
    border: double;
    padding: 15px;
    margin: 6px 0;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(148, 146, 146, 1) 100%);
}

.effects-div, .line-one, .line-two, .line-three, .line-four {
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(148, 146, 146, 1) 100%);
}

.result-div {
    border: 15px;
    display: block;
    height: 200px;
    border: dashed black;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(226, 223, 223, 1) 100%);
}

#result {
    text-align: right;
    margin: 125px 0 0 0;
    font-size: 200%;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(226, 223, 223, 1) 100%);

}

.numbers-button {
    color: rgba(0, 0, 0, 1);
    background-color: white;
}

.btn {
    height: 54px;
    width: 36px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 25px;
    background: rgb(199, 199, 200);
    background: radial-gradient(circle, rgba(199, 199, 200, 1) 0%, rgba(78, 77, 77, 1) 100%);
}

:active.btn {
    background: rgb(199, 199, 200);
    background: radial-gradient(circle, rgba(199, 199, 200, 1) 0%, rgba(78, 77, 77, 0.52361111111111116) 100%);
}

#equal-btn {
    width: 87px;
    writing-mode: vertical-rl;
    line-height: 54px;
    margin-top: 15px;
}