* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gruppo', 'cursive';
    color: black;
    font-size: large;
    font-weight: 600;
    outline: none;
}

#master-div{
    height:auto;
    width: auto;
    margin: 100px;
    border-radius: 15px;
    background-image: url(./assets/screenshot_2019-06-25_at_5.33.15_pm_2.png);
    background-repeat:round;
    background-size:auto;
    padding-top: 10px;
    padding-bottom: 110px;
}

.general {
    width: 300px;
    height: 445px;
    border: double;
    border-radius: 15px;
    padding: 15px;
    margin: 125px auto 0 auto;
    background: rgb(241, 241, 241);
    background: linear-gradient(90deg, rgba(241, 241, 241, 1) 0%, rgba(172, 172, 172, 1) 100%);
}

.numbers-div {
    border: double;
    padding: 15px;
    margin: 6px 0;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(148, 146, 146, 1) 100%);
}

.effects-div, .line-one, .line-two, .line-three, .line-four {
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(148, 146, 146, 1) 100%);
}

.result-div {
    border: 15px;
    display:flex;
    flex-direction: column;
    height: 75px;
    border: dashed black;
    width: 265px;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(226, 223, 223, 1) 100%);
    line-height: 15px;
    padding: 10px 20px 0 0;
    border:groove;
    
}

.result {
    display: block;
    text-align: right;
    margin: 15px 0 5px 0;
    font-size: 200%;
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(226, 223, 223, 1) 100%);
    padding: 0 8px 3px 0;
    line-height: 20px;  
}

.numbers-button {
    color: rgba(0, 0, 0, 1);
    background-color: white;
}

.btn {
    height: 54px;
    width: 36px;
    margin: 2px 8px;
    cursor: pointer;
    border-radius: 25px;
    background: rgb(199, 199, 200);
    background: radial-gradient(circle, rgba(199, 199, 200, 1) 0%, rgba(78, 77, 77, 1) 100%);
}

:active.btn {
    background: rgb(199, 199, 200);
    background: radial-gradient(circle, rgba(199, 199, 200, 1) 0%, rgba(78, 77, 77, 0.52361111111111116) 100%);
}

p{
    background: rgb(215, 215, 219);
    background: linear-gradient(270deg, rgba(215, 215, 219, 1) 0%, rgba(226, 223, 223, 1) 100%);
    text-align: end;   
}